{% extends "base.html" %} {% block content %}
<h2>Task Details</h2>
<ul>
  <li><strong>Title:</strong> {{ task.title }}</li>
  <li><strong>Description:</strong> {{ task.description }}</li>
  <li><strong>Completed:</strong> {{ task.completed }}</li>
  <li><strong>Created At:</strong> {{ task.created_at }}</li>
  <li><strong>Due Date:</strong> {{ task.due_date }}</li>
  <li><strong>Assigned To:</strong> {{ task.assigned_to }}</li>
  <li><strong>Created By:</strong> {{ task.created_by }}</li>
</ul>
<a href="{% url 'update_task' task.id %}">Update task</a>
{% endblock %}
