{% extends "base.html" %}

{% block content %}
    <h2>{{ task_owner.first_name }} {{ task_owner.last_name }} Tasks</h2>
    {% if user.id in can_assign %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">create task</button>
    </form>
    {% endif %}
    <h3>Ongoing Tasks</h3>
    <ul>
        {% for ongoing_task in ongoing_tasks %}
            <li>{{ ongoing_task.title }} - {{ ongoing_task.description }} {{ongoing_task.due_date|date:"Y-m-d"}}
                {{ ongoing_task.created_at|date:"Y-m-d H:i" }} {{ ongoing_task.created_by }}
            </li>
            <a href="{% url 'toggle_complete' ongoing_task.id %}">completed</a>
        {% empty %}
            <li>No current tasks.</li>
        {% endfor %}
    </ul>

    <h3>Completed Tasks</h3>
    <ul>
        {% for completed_task in completed_tasks %}
            <li>{{ completed_task.title }} - {{ completed_task.description }}</li>
            <a href="{% url 'toggle_complete' completed_task.id %}">ongoing</a>
        {% empty %}
            <li>No completed tasks.</li>
        {% endfor %}
    </ul>
{% endblock %}