asgiref==3.9.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.5
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.2.23
filelock==3.18.0
flake8==7.3.0
fsspec==2025.7.0
gunicorn==23.0.0
huggingface-hub==0.34.3
idna==3.10
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
oauthlib==3.3.1
packaging==25.0
pillow==11.3.0
psycopg2==2.9.10
pycodestyle==2.14.0
pycparser==2.22
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
python-dotenv==1.1.1
python3-openid==3.2.0
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
rich==14.1.0
six==1.17.0
smolagents==1.20.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.7.0
