@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-text-color: black;
  --primary-background-color: #F9FAFB;
  --secondary-text-color: white;
  --primary-color:#3c2dcf;
  --accent-color: #7e2fcc;
}

/* NavBar styling / footer styling */

.navbar, footer{
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
}

.navbar .nav-link, .navbar-brand {
    color: var(--secondary-text-color) !important;
}

footer{
    padding-bottom: 1%;
    text-align: center;
    color: var(--secondary-text-color);
}

footer a{
    color: var(--secondary-text-color);
}